OCTOBOT_IMAGE=drakkarsoftware/octobot:stable
OCTOBOT_HOST_PORT=5002
HOST=octobot.localhost
LETSENCRYPT_EMAIL=admin@example.com

# Crypto.com Exchange Pro API Credentials (Optional - for Live Trading)
CRYPTO_COM_API_KEY=
CRYPTO_COM_API_SECRET=
